@model Cinema.Models.DetalheSessao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DetalheSessao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeLugares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeLugares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario.HorarioId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filme.GeneroFilme)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadeiraSelecionada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadeiraSelecionada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sessao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sessao.Endereco)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compra.CompraId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DetalheSessaoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
