@model Cinema.Models.DetalheSessao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalheSessao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeLugares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeLugares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario.HorarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filme.GeneroFilme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadeiraSelecionada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadeiraSelecionada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sessao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sessao.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compra.CompraId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DetalheSessaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
